* {
	padding: 2px;
	margin: 1px;
	border-radius:5px;
	text-align: center;
}
input:invalid{
	border: 2px solid red;
}
input:focus:invalid {
	color: red;
}
input:valid {
	border: 2px solid green;
}
input:not(:focus):invalid {
	border: 2px solid red;
}
input:focus:invalid {
	border: 2px solid red;
}
form{
	text-align: left;
}